& {
    #platui > #media;
    #platui > #mixins;
    #platui > #variables;

    [plat-control="home-vc"] {
        h1 {
            color: #49E20E;
        }
        .container {
            background: url('../../images/green_cup.png');
            padding-bottom: 20px;
        }
    }
}
